@import url(./destaques.css);
@import url(./menu.css);
@import url(./normalize.css); 
@import url(./populares.css); 
@import url(./reset.css);
@import url(./responsivo.css);


:root {
    --fonte-principal: Arial, Helvetica, sans-serif;
    
    --azul: #0073e6;
    --branco: #ffffff;
    --branco-suave: #fdfdfd;
    --cinza: #808080;
    --cinza-claro: #bcbcbc;
    --grafite: #333333;
    --preto-transparente: rgba(0, 0, 0, .5);
}

.app {
    background: var(--branco);
    display: grid;
    font-family: var(--fonte-principal);
    grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    align-items: center;
    display: flex;
    grid-area: cabecalho;
    padding: 0 2rem;
}
 
.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    background: var(--branco-suave);
    color: var(--grafite);
    font-size: .8rem;
    grid-area: rodape;
    padding: 1rem;
    text-align: center;
}